#calc {
	width: 208px;
	overflow: hidden;
	background-color: #999;
	margin: 0 auto;
	font-size: x-large;
	line-height: 2.2em;
	background-image: url(../images/bg.jpeg);
	color: white;
	background-size: cover;
	background-position: center;
}
#calc .result {
	width: 100%;
	height: 70px;
	text-align: right;
	font-size: 2em;
	line-height: 1.5em;
	padding-right: .2em;
	box-sizing: border-box;
}
#calc .button {
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0,0.5);
	float: left;
	border: 1px solid #bbb;
	text-align: center;
	cursor: pointer;
}
#calc .button:active {
	background-color: #888;
}
